* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --primary-background-color: #0c1b33;
  --primary-text-color: #faf8d4;
  --primary-accent-color: #e53b3a;
  --secondary-accent-color: #645dd7;
  --primary-hover-color: #c53030;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.companyName {
  font-size: large;
  font-weight: bold;
}

.nav-item a {
  font-weight: bolder;
  font-size: 18px;
  color: var(--primary-text-color);
}
.nav-item a:hover {
  color: var(--primary-accent-color) !important;
}

li .active {
  color: var(--primary-accent-color) !important;
}

h1 {
  color: var(--secondary-accent-color);
}

h4 {
  color: var(--primary-accent-color);
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header {
  text-align: center;
}

/* Button Styles */
button {
  background-color: var(--primary-accent-color);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: var(--primary-hover-color);
  border-radius: none;
}
.breadcrum .navbar-toggler-icon {
  background-color: var(--primary-hover-color);
  border: none;
}
.breadcrum .navbar-toggler-icon:hover {
  background-color: var(--primary-hover-color);
  border: none;
}

p {
  font-size: 20px;
}
.dropdown-menu {
  background-color: var(--secondary-accent-color);
}
.dropdown-menu li {
  background-color: var(--secondary-accent-color);
}
